/* Placeholders + Mixins */
/* http://www.sitepoint.com/sass-mixin-placeholder/ */

//@import "compass/css3";

/* Breakpoints */
/*
$breakpoint-small-up: rem(100px);
$breakpoint-medium-up: rem(750px);
*/


/* ------------------------------------------- */
/* -- Singularity grid */
/* ------------------------------------------- */


@include add-grid(12); /* Mobile first */
/* @include add-grid(12 at rem(600)); */
@include add-gutter(50px);

/* $row-width: rem(1400); */
//$column-gutter: rem(50);
//$total-columns: 12;



/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

$site-width: 680;
$space: 20px;



$color--dark: #030303;

$color--link: #333;
$color--link--hover: #666;

/* ------------------------------------------- */
/* -- Placeholders */
/* ------------------------------------------- */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


%wrapper {
	max-width: $site-width;
	margin: 0 auto;
	position: relative;
	padding-left: rem(20);
	padding-right: rem(20);
	@extend %clearfix;
}



%holder {
	max-width: $site-width + px;
	margin: 0 auto;
	position: relative;
	@extend %clearfix;

  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint(em(700)){
    padding-left: 50px;
    padding-right: 50px;

  	}

}


%naked-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

%visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

%button {
  background: #333;
  color: #FFF;

  &:hover {
    background: #666;
  }

}

/* ------------------------------------------- */
/* -- Mixins */
/* ------------------------------------------- */

/* https://gist.github.com/taupecat/4090271 */
@mixin modernizr($test) {
    html.#{$test} & {
        @content;
    }
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

/* Usage:
div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }
 */


/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;padding:20px;background: #FFF;color: #666;}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* -------------------------------------------------------------------------------*/

::-moz-selection{background: #333; color: #fff; text-shadow: none;}
::selection {background: #333; color: #fff; text-shadow: none;}

a:link {-webkit-tap-highlight-color: #333;}



.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}





/* Basics
---------------------------------- */

html {


background-color: #eee;


 //  Backgrounds and positioning stuff






//---------------------------------------

}

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4 {
  margin-top: $space*2;
}






img {
  max-width:100%;
  backface-visibility: hidden;
}

p {
  margin: 0;
  line-height: 150%;
}

p + p {
  margin-top: $space;
}

li +li {
  margin-top: $space/2;
}


.note {
@include responsive-font(small);
}

.holder {
	@extend %holder;

/* 	padding-top: $space;
padding-bottom: $space; */



}


/* Links
================================= */

a {
	color: $color--link;
text-decoration-skip: ink;
  //@include single-transition(all, .15s, ease, 0);
}

a:hover {
	color: $color--link--hover;
}

// a:hover {
// img {
//   @include transition-property(all);
//   @include transition-duration(.15s);
//   @include transition-timing-function(ease);
//   @include transition-delay(0);
//   opacity:0.85;
// }
// }

/* ---------- */
