@import 'compass/css3';

/* $tan: #908365; */
$tan: #B7A989;
$dark-tan: #615C52;

$opal: #94B8BE;
$dark-opal: #6EA0A8;
$grey: #595D67;


/*
@mixin large-text {

  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  }
  color: #ff0000;
}
*/

@mixin button($bg: $tan, $side-padding: 6%) {
	
		text-transform: uppercase;
		padding:16px $side-padding;
		color:#FFF;
		@include border-radius(4px);
		border: 0;
		font-size: 1.1em;
		-webkit-appearance: none;
		background: $bg;
		/* font-weight: 300; */
		display: inline-block;
		line-height: 1;
		
		&:hover {
			background: darken($bg,10%);
		}
		
}


@mixin field($bg: #FFF) {
	
		padding:5px;
		color:#666;
		@include border-radius(4px);
		border: 1px #CCC solid;
		font-size: 1em;
		-webkit-appearance: none;
		background: $bg;
		outline: none;
		/*
outline-width: thin;
		outline-color: $tan;
*/
		
		
		
		&:focus {
			background: #F3F3F3;
		}
		
}


input[type='text'], input[type='password'], input[type='email'], input[type='number']{
	@include field;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	@include button;
}

/*
input[type="checkbox"] {
-webkit-appearance: checkbox;
}
*/



body {
	font-size: 100%;
	-webkit-font-smoothing:antialiased;
	color:#999;
}

.row {
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: $tan;
	
	&:hover {
		color: darken($tan,15%);
	}
	
}

nav a {
-webkit-transition: all 0.15s ease;
-moz-transition: all 0.15s ease;
-o-transition: all 0.15s ease;
transition: all 0.15s ease;
}

address {
	font-style: normal;
}



.cf { *zoom: 1; }
.cf:before
.cf:after,{ content: " "; display: table; }
.cf:after { clear: both; }


.hidden {
	display: none !important;
}


/* Loading */

/*
.pace .pace-progress {
  background: #a4c4c9;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
*/




@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

 /* RETINA BITS */

}
