@import 'compass/css3';



/* ==================== */
/* ==================== */
@import "../../_/bower/sassy-maps/sass/sassy-maps";
@import "../../_/bower/breakpoint-sass/stylesheets/breakpoint";
@import "../../_/bower/singularity/stylesheets/singularitygs";
@import "../../_/bower/bourbon/dist/bourbon";



//Global Foundation Settings
//@import "normalize";


/* Base styles */
@import "flexible-type";
@import "base";



// .preload * {
//   transition: none;
// }

/* --------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background: $color--dark;
}

main {

  width: 60%;
  max-width: 600px;
}
