/*! responsive-nav.js 1.0.23 by @viljamis */
/* line 3, ../sass/responsive-nav.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

/* line 11, ../sass/responsive-nav.scss */
.nav-collapse li {
  width: 100%;
  display: block;
}

/* line 16, ../sass/responsive-nav.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 25, ../sass/responsive-nav.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 29, ../sass/responsive-nav.scss */
#nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 48em) {
  /* line 43, ../sass/responsive-nav.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 46, ../sass/responsive-nav.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 49, ../sass/responsive-nav.scss */
  #nav-toggle {
    display: none;
  }
}
