/* ==================== */
/* ==================== */
/* Base styles */
/* Placeholders + Mixins */
/* http://www.sitepoint.com/sass-mixin-placeholder/ */
/* Breakpoints */
/*
$breakpoint-small-up: rem(100px);
$breakpoint-medium-up: rem(750px);
*/
/* ------------------------------------------- */
/* -- Singularity grid */
/* ------------------------------------------- */
/* Mobile first */
/* @include add-grid(12 at rem(600)); */
/* $row-width: rem(1400); */
/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* -- Placeholders */
/* ------------------------------------------- */
/* line 47, ../sass/_base.scss */
.holder:after {
  content: "";
  display: table;
  clear: both;
}

/* line 66, ../sass/_base.scss */
.holder {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* ------------------------------------------- */
/* -- Mixins */
/* ------------------------------------------- */
/* https://gist.github.com/taupecat/4090271 */
/* Usage:
div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }
 */
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 130, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 132, ../sass/_base.scss */
.chromeframe {
  position: absolute;
  top: 0;
  padding: 20px;
  background: #FFF;
  color: #666;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* -------------------------------------------------------------------------------*/
/* line 143, ../sass/_base.scss */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

/* line 144, ../sass/_base.scss */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

/* line 146, ../sass/_base.scss */
a:link {
  -webkit-tap-highlight-color: #333;
}

/* line 150, ../sass/_base.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Basics
---------------------------------- */
/* line 164, ../sass/_base.scss */
html {
  background-color: #eee;
}

/* line 181, ../sass/_base.scss */
body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* line 185, ../sass/_base.scss */
h1, h2, h3, h4 {
  margin-top: 40px;
}

/* line 194, ../sass/_base.scss */
img {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 199, ../sass/_base.scss */
p {
  margin: 0;
  line-height: 150%;
}

/* line 204, ../sass/_base.scss */
p + p {
  margin-top: 20px;
}

/* line 208, ../sass/_base.scss */
li + li {
  margin-top: 10px;
}

/* line 213, ../sass/_base.scss */
.note {
  font-size: 14px;
  font-size: 1.2vw;
}
@media (max-width: 1166.66667px) {
  /* line 213, ../sass/_base.scss */
  .note {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  /* line 213, ../sass/_base.scss */
  .note {
    font-size: 18px;
  }
}

/* line 217, ../sass/_base.scss */
.holder {
  /* 	padding-top: $space;
  padding-bottom: $space; */
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 43.75em) {
  /* line 217, ../sass/_base.scss */
  .holder {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Links
================================= */
/* line 238, ../sass/_base.scss */
a {
  color: #333;
  text-decoration: none;
}

/* line 244, ../sass/_base.scss */
a:hover {
  color: #666;
}

/* ---------- */
/* --------------------------------------------------- */
/* line 30, ../sass/screen.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 37, ../sass/screen.scss */
header {
  background: #030303;
}

/* line 41, ../sass/screen.scss */
main {
  width: 60%;
  max-width: 600px;
}
